

header {
    @include flex;
    flex-direction: column;

    .logo {
        width: 50%;
        padding-top: 14px;
        padding-bottom: 5px;
       
    }

    .location {
        @include flex;
        background-color: $locationback;
        padding: 17px;
        width: 100%;
    }

    input::placeholder {
        color: $colortext;
    }

    form{
        @include flex;
        justify-content: center;
        align-items: center;
        width: 40%;
    }

    input {
        width: 100%;
        border: none;
    }
}

