.buttonsection1 {
    @include buttongradient;

}

@media screen and (min-width: 768px){

        .buttonsection1 {
            width: 30%;
        }

        @media screen and (min-width: 1440px) {

            .buttonsection1 {
                width: 18%;
            }
        }
}

.buttoncommander {
    @include buttongradient;
    margin-top: 40px;
    margin-left: 20%;

    @media screen and (min-width: 1440px) {
        width: 33%;
        margin-left: 30%;
        
    }
}

