.restaurant {
       padding: 0px;
      background-color: $backgroundGrey;

      .titrerestaurants {
      padding-bottom: 20px;
      padding-top: 40px;
     }

    .contenairRestaurant {
      padding: 15px;
      display: flex;
       flex-direction: column;
    }

       .cardRestaurant {
         @include flex;
        flex-direction: column;
        border-radius: 15px;
        background-color: $white;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        width: 100%;
        margin-bottom: 18px;
     }

      .card {
          text-decoration: none;
          color: black;
        }
      

     img {
       height: 65%;
       width: 100%;
       border-top-right-radius: 15px;
       border-top-left-radius: 15px;
     }
   
     .cardcontent {
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding-left: 13px;
         padding-right: 33px;
         padding-top: 16px;
         
    }
 
 .restaurantTextcontent {
               
            
         h2 {
          font-size: 18px;
         }

         p {
           padding-top: 5px;
           padding-bottom: 12px;
           font-size: 17px;
         }

     .heart {
        background-color: $white;
        border: 1px solid #101010;
        font-size: 25px;
     }    
  }
 
}
