.restaurant {
       padding: 0px;

      .titrerestaurants {
      padding-bottom: 20px;
      padding-top: 40px;
     }

    .contenairRestaurant {
      padding: 15px;
      display: flex;
       flex-direction: column;

    }

       .cardRestaurant {
         position: relative;
        border-radius: 15px;
        background-color: $white;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        width: 100%;
        margin-bottom: 18px;
        height: 250px;
     }

        .nouveau::after{
         content: "Nouveau";
         @include flex;
         position: absolute;
         background-color: $tertiaire;
         color: #008766;
         border-radius: 2px;
         width: 80px;
         height: 29px;
         right: 15px;
         top: 14px;
         font-size: 14px;
         font-weight: 500;
       }

     img {
       height: 65%;
       width: 100%;
       border-top-right-radius: 15px;
       border-top-left-radius: 15px;
     }
   
     .cardcontent {
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding-left: 13px;
         padding-right: 56px;
         padding-top: 16px;
         
    }
 
 .restaurantTextcontent {
               
            
         h2 {
          font-size: 18px;
         }

         p {
           padding-top: 5px;
           padding-bottom: 12px;
           font-size: 17px;
         }
     }
    }

     @media screen and (min-width:1024px){
      .restaurant{

           @include flex;
        
        
        .cardcontenair {
          @include row;
          flex-wrap: wrap;
          justify-content: space-between;
          padding-bottom: 30px;
          margin-top: 28px;

        }
        .cardRestaurant {
          width: 47%;
          height: 251px;
          margin-bottom: 57px;
        }
    
    }
  }




 

