.heart {

    i {
      font-size: 1.5rem;
      -webkit-text-stroke: 1px black;
      background:white;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      transform: all 500ms ease-in-out;
      
  
    &:hover {
      -webkit-text-stroke: white;
      background: $buttongradient;
      background: -webkit-$buttongradient ;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      cursor: pointer; 
      
       }    


    }
    
  }

 


