.heart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  font-size: 22px;
  .nofull{
      position: absolute;
      color: black;
  }
  .full{
      position: absolute;
      opacity: 0;
      background: $buttongradient;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      transition: all 500ms;
  }
  &:hover .full{
      opacity: 1;

  }
  &:hover .empty{
      opacity: 0;
  }
} 

 


