.heart {

    i {
      font-size: 1.5rem;
      -webkit-text-stroke: 1px black;
      background:white;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  
    &:active {
      -webkit-text-stroke: white;
      background: $buttongradient;
      background-clip: text;
      -webkit-background-clip: text;
       
       }    
  }

    }
 


