.section1 {
    @include flex;
    background-color: $backgroundGrey;
    flex-direction: column;
    text-align: center;
    padding-top: 35px;

    p {   
        padding: 10px 0 26px;
        width: 96%;
    }  

    h2 {
        width: 62%;
    }

    .buttonsection1 {
        @include buttongradient;
    }
}