

.backcolor {
    background-color: $backgroundGrey;
    position: relative;
    top: -73px;
    border-radius: 50px 50px 0 0;
    margin-bottom: -57px; 

    @media  screen and (min-width: 1024px) {
    margin-left: 193px;
     margin-right: 193px;
      
    }
  } 

    .titlemenu{
        font-style: italic;
        font-size: 28px;
        font-weight: 400;
        margin-top: 32px;
        margin-left: 17px;
    }

    .intromenu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 32px 17px 42px 0;

        @media screen and (min-width: 1024px) {

            @include flex;
            gap: 24px;
        }
    }

   .heart {
         margin-right: 12px;
  
  }

.menupage {

    margin-left: 13px;
    margin-right: 13px;

    @media screen and (min-width: 1024px) {
       margin-left: 165px;
       margin-right: 165px;
      
    }

  .titlerepas {
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 40px;
  }

  .linegreen {
    margin-top: 6px;
    border: 3px solid $tertiaire;
    width: 40px;
  }
}  

.contourbutton{
    margin-top: 12px;

    .menubutton {
        background-color: $white;
        box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        font-size: 14px;
        padding: 12px 14px 12px 15px;
        margin-bottom: 12px;
       
        
        .contentbutton {
            display: flex;
            justify-content: space-between;
            padding-top: 5px;
        }

      
       }

    }

  .formconfirm {
    
     .confirm {
        i {
         color: $white;
       }
     
      &:hover { 
        position: absolute;
        background-color: $tertiaire;
        background-color: #99e2d0;
    margin: -1rem -5rem -1rem 1rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
            
          i {
    display: flex;
    align-items: center;
    justify-content: center;
    
          }
      }
    }
  }