/****couleur base****/
$colortext :#353535;
$colortitre : black;
$backgroundGrey : #F7F7F7;;
$locationback :#EAEAEA;
$white : white;

/***couleur principal*****/
$primaire : #9356DC;
$secondaire : #FF79DA;
$tertiaire : #99E2D0;

/******gradient*****/
$buttongradient: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);